@import 'compass/reset'

body
  background-color: #DEDEDE

#navbar
  margin-top: 12px

#toggleMenu
  display: none
  position: fixed
  z-index: 10
  top: 10%
  width: 60px
  margin-left: -10px

.rwd-sm-show
  display: none

.rwd-sm-hide
  display: block

#imgSlide
  background-position: center top
  background-repeat: no-repeat
  // background-attachment: fixed
  min-height: 420px
  max-height: 520px
  border: 0px solid red
#imgSlideBox
  border: 0px solid red