doctype html
html
  head
    title Fruit Buy

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/asset/stylesheets/basic.css')
    link(rel='stylesheet', href='/asset/stylesheets/menu-rwd.css')
    link(rel='stylesheet', type='text/css', href='/semantic-ui/semantic.css')


    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/semantic-ui/semantic.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js')

    script(src='/asset/javascripts/config.js')
    script(src="/asset/javascripts/imgSlide.js")
    script(src='/asset/javascripts/upload.js')
    script(src="/asset/javascripts/auth.js")
  body
    #navbar.ui.stackable.menu.container.rwd-sm-hide
      a(href="/home", style="padding-left:60px").active.item
        img.ui.image(src='./asset/images/icon.png', height="70px", style="position:absolute; top:-12px; left:-20px")
        | 鮮•水果
      a(href="/user").item
        i.users.icon
        | 客戶帳號管理
      a(href="/product").item
        i.shop.icon
        | 產品管理
      a(href="/order").item
        i.edit.icon
        | 訂單管理
      a(href="/face").item
        i.edit.icon
        | 廣告播放器
      .right.menu
        a#user.item
        a(href="/em").item
          i.unlock.alternate.icon
          | 員工帳戶管理
        a(href="/chart01").item
          i.bar.chart.icon
          | 統計資訊
        a(href="/login").item
          | 登出

    block content
    br
    br
    include footer