.ui.container
  br
  br
  hr
  p
  h2.ui.header
    img.ui.image(src='asset/images/icon.png')
    .content
      | 鮮•水果 專業新鮮水果配送
      .sub.header
        | 聯絡方式：0930-014-167
        br
        | 連絡信箱：chenpoanandrew@gmail.com
  br