extends layout

block content
  .ui.container
    .rwd-sm-show
      br
      br
    a#imgSlideBox.ui.fluid.image(href='/shop')
      img#imgSlide(style="background-image:url('/asset/images/wireframe/demo-slide.jpg')")
    .ui.relaxed.divided.items
      .item
        .ui.large.image
          img(src='/asset/images/wireframe/demo-image.png')
        .content
          a.header Content Header
          .meta
            a Date
            a Category
          .description
            | A description which may flow for several lines and give context to the content.
          //- .extra
          //-   img.ui.circular.avatar.image(src='/asset/images/wireframe/square-demo-image.png')
          //-   |  Username
      .item
        .ui.large.image
          img(src='/asset/images/wireframe/demo-image.png')
        .content
          a(href="").header Content Header
          .meta
            a Date
            a Category
          .description
            | A description which may flow for several lines and give context to the content.
          .extra
            .ui.left.floated.primary.button
              | Primary
              i.right.chevron.icon
            .ui.label Limited
      .item
        .ui.large.image
          img(src='/asset/images/wireframe/demo-image.png')
        .content
          a.header Content Header
          .meta
            a Date
            a Category
          .description
            | A description which may flow for several lines and give context to the content.
          .extra
            //- .ui.right.floated.primary.button
            //-   | Primary
            //-   i.right.chevron.icon