extends layout

block content
  .ui.container
    .rwd-sm-show
      br
      br
    a#imgSlideBox.ui.fluid.image(href='/shop')
      img#imgSlide(style="background-image:url('/asset/images/wireframe/demo-slide.jpg')")
    .ui.relaxed.divided.items
      .item
        .ui.large.image
          img(src='/asset/images/home/home01.jpg')
        .content
          a.header 鮮•水果 介紹
          .meta
            a Date
            a Category
          .description
            p
              | 2015年諾貝爾文學獎得主8日揭曉，由現年67歲的白俄羅斯女記者兼作家斯維拉娜．亞歷塞維奇（Svetlana Alexievich）摘下桂冠，獲頒8百萬瑞典克朗（約台幣3248萬元）獎金，她同時也是第一位獲得諾貝爾文學獎的女記者。
            p
              | 代表作《車諾比的悲鳴》
            p
              | 斯維拉娜代表作《車諾比的悲鳴》是台灣唯一翻譯出版的作品，她在核災發生25年後，訪問上百名受核災影響的民眾，呈現他們心中揮之不去的恐懼與憤怒。
              | 負責頒發諾貝爾文學獎的瑞典學院，推崇斯維拉娜「複音書寫的作品是當代痛苦與勇氣的紀念碑」，瑞典學院常務祕書丹尼爾斯女士說，斯維拉娜花了近40年研究蘇聯時期的人民，但她的作品並不僅記錄歷史，還具備「永恆的特質」，詳細描繪蘇聯時期與後蘇聯時期人民的靈魂。
          //- .extra
          //-   img.ui.circular.avatar.image(src='/asset/images/wireframe/square-demo-image.png')
          //-   |  Username
      .item
        .ui.large.image
          img(src='/asset/images/home/home02.jpg')
        .content
          a(href="").header 鮮•水果 外送方式
          .meta
            a Date
            a Category
          .description
            p
              | 她擅寫報導文學，透過訪談當事人的方式，記錄二次世界大戰、阿富汗戰爭、蘇聯解體、車諾比核災等重大事件。由於獨立報導與批判風格，導致她與高壓統治的白俄羅斯總統魯卡先科政權關係不佳，她遭受壓迫，電話被竊聽，也不能公開露面。2000年，她離開白俄羅斯，先後住在法國巴黎、瑞典哥德堡、德國柏林，2011年搬回明斯克。
            p
              | 她在1985年出版首部著作《戰爭中悲慘的女性臉孔》，記錄蘇聯時期女兵參與二戰的回憶，亦成為「烏托邦之聲」系列首部作品，「烏托邦之聲」記錄二戰蘇聯至俄羅斯普丁時代的變遷，備受國際矚目。
            p
              | 斯維拉娜代表作《車諾比的悲鳴》是台灣唯一翻譯出版的作品，她在核災發生25年後，訪問上百名受核災影響的民眾，呈現他們心中揮之不去的恐懼與憤怒。
              | 負責頒發諾貝爾文學獎的瑞典學院，推崇斯維拉娜「複音書寫的作品是當代痛苦與勇氣的紀念碑」，瑞典學院常務祕書丹尼爾斯女士說，斯維拉娜花了近40年研究蘇聯時期的人民，但她的作品並不僅記錄歷史，還具備「永恆的特質」，詳細描繪蘇聯時期與後蘇聯時期人民的靈魂。
          //- .extra
          //-   .ui.left.floated.primary.button
          //-     |
          //-     i.right.chevron.icon
            //- .ui.label Limited
      .item
        .ui.large.image
          img(src='/asset/images/home/home03.jpg')
        .content
          a.header Content Header
          .meta
            a Date
            a Category
          .description
            p
              | 她擅寫報導文學，透過訪談當事人的方式，記錄二次世界大戰、阿富汗戰爭、蘇聯解體、車諾比核災等重大事件。由於獨立報導與批判風格，導致她與高壓統治的白俄羅斯總統魯卡先科政權關係不佳，她遭受壓迫，電話被竊聽，也不能公開露面。2000年，她離開白俄羅斯，先後住在法國巴黎、瑞典哥德堡、德國柏林，2011年搬回明斯克。
            p
              | 她在1985年出版首部著作《戰爭中悲慘的女性臉孔》，記錄蘇聯時期女兵參與二戰的回憶，亦成為「烏托邦之聲」系列首部作品，「烏托邦之聲」記錄二戰蘇聯至俄羅斯普丁時代的變遷，備受國際矚目。
            p
              | 斯維拉娜代表作《車諾比的悲鳴》是台灣唯一翻譯出版的作品，她在核災發生25年後，訪問上百名受核災影響的民眾，呈現他們心中揮之不去的恐懼與憤怒。
              | 負責頒發諾貝爾文學獎的瑞典學院，推崇斯維拉娜「複音書寫的作品是當代痛苦與勇氣的紀念碑」，瑞典學院常務祕書丹尼爾斯女士說，斯維拉娜花了近40年研究蘇聯時期的人民，但她的作品並不僅記錄歷史，還具備「永恆的特質」，詳細描繪蘇聯時期與後蘇聯時期人民的靈魂。
          .extra
            //- .ui.right.floated.primary.button
            //-   | Primary
            //-   i.right.chevron.icon