extends layout

block content
  .ui.container(style="padding-top: 160px; min-height: 460px")
    center
      .ui.two.column.middle.aligned.very.relaxed.stackable.grid
        .column
          .ui.form
            .field(style="max-width:300px")
              .ui.left.icon.input
                input(type='text', name="email" placeholder='Email')
                i.user.icon
            .field(style="max-width:300px")
              .ui.left.icon.input
                input(type='password', name="pwd" placeholder='Password')
                i.lock.icon
            #login.ui.blue.submit.button 登入
        //- .ui.vertical.divider
          | 或是
        .center.aligned.column
          a.ui.big.green.labeled.icon.button(href="/register")
            i.signup.icon
            |       加入會員

  //- dialog
  #loginFail.ui.modal
    .header.ui.red 登入失敗
    .content
      p 帳號或密碼錯誤，請重新輸入
    include footer

  script(src='/asset/javascripts/login.js')